// app global css in SCSS form

/* 互動類型專案可以啟用下面的設定
// user-select-none 避免文字反白、圖片被選擇
body {
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // IE10+/Edge
  user-select: none; // 標準語法
}
// disable pinch zoom
html { touch-action:none; }
// disable 上下頁手勢
html, body { overscroll-behavior: none; }
*/


